.test {
    font-weight: bold;
    font-size: large;
    color:mediumpurple;
}
.class1 {
    color: darkblue;
}

.class2 {
    background-color: lightblue;
}

a, h1, h2, p       { color: #377ba8; }

.fast {
    color: red;
}