<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} Race Results for ERR</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div>Race Results for ERR:
        <a href="{{ url_for('index') }}">Home</a>
        | <a href="{{ url_for('memberedit') }}"> Members WIP</a>
        | <a href="{{ url_for('memberprofile') }}"> Your Profile </a>
        | <a href="{{ url_for('timetrialindex') }}"> Time Trial </a>
        | <a href="{{ url_for('tables') }}"> Tables </a>
    </div>
    <hr>
    <p style="color:red;">No Class but styled red</p>
    <p class="test">A little class - should be coloured if I've fixed it</p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div><h3>This is the Running Flask. Cloned to Desktop 09 August 2016. </h3></div>
    {%  block content %}{% endblock %}
</body>
</html>